<%-include("partials/header.ejs")%>
<form action="/create" method="GET">
  <div style="display: flex; justify-content: center; margin-top: 20px">
    <button class="btn btn-secondary rounded-pill">Create</button>
  </div>
</form>
<div class="row">
  <%blog.forEach((item,index)=>{%>
  <div class="col-md-4">
    <div class="card shadow-sm" style="margin: 30px; display: flex">
      <div class="card-body">
        <p class="card-text">Author:<%=item.author%></p>
        <p class="card-text">Title:<%=item.title%></p>
        <p class="card-text"><%=item.content.length>20?item.content.substring(0,15)+"...":item.content%></p>
        <p class="card-text">Date:<%=item.date%></p>

        <form action="/view" method="GET">
          <input type="hidden" name="blogindex" value="<%=index%>" />
          <button type="submit" class="btn btn-sm btn-outline-secondary mb-3">
            View
          </button>
        </form>
        <form action="/delete" method="GET">
          <input type="hidden" name="blogedit" value="<%=index%>"/>
          <button type="submit" class="btn btn-sm btn-outline-secondary">
            Delete
          </button>
        </form>
      </div>
    </div>
  </div>
  <%})%>
</div>
<%-include("partials/footer.ejs")%>
